<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/styles/about_us_style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

  <body>
    <!-- Music -->
    <audio autoplay loop>
      <source src="/music/music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <a href="http://localhost:8080/">
    <button class="btn" id="hbut">home</button></a>

    <section class="center">
      <div class="aboutus">
        <h1>About Us</h1>
      </div>
    </section>
    <section class="padimg">
      <div class= "floating-box">
        <img height="300px" width= "200px" id= "j" src="/images/John.jpg">
        <img height="300px" width= "200px" id= "d" src="/images/Damon.jpg">
        <img height="300px" width= "200px" id= "c" src="images/Cher.jpg">
      </div>
    </section>
    <div class="roles">
        <p id= "john"><b>Front End Developer</p>
        <p id= "damon">Full Stack Developer</p>
        <p id= "cher">Back End Developer</b></p>
    </div>
    <div class="overall">
    <section class="grid">
    <div class="bios">
      <p id= "j1"> John is from the Bay Area in California and will be pursuing a Computer Engineering degree at the University of California, Davis.
          He is passionate about graphic design and loves to eat.</p>
    </div>
    <div class="bios">
      <p id= "d1"> Damon is from the Midwest and will be studying Computer Science & Economics at UChicago.
          Passionate about art, he hopes to blend his technical skills with his talents.
      </p>
    </div>
    <div class="bios">
      <p id= "c1"> Cher is from Southern California and will be studying Computer Science at Harvey Mudd College.
          She is passionate about programming and enjoys doodling as well as baking.
      </p>
   </div>
 </div>
 </section>
 </body>
</html>
