<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/styles/about_us_style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

  <body>
    <!-- Music -->
    <audio autoplay loop>
      <source src="/music/music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <a href="http://localhost:8080/">
    <button class="btn" id="hbut">home</button></a>

    <section class="center">
      <div class="aboutus">
        <h1>About Us</h1>
      </div>
      <div class= "floating-box">
        <img height="400px" width= "300px" id= "j" src="/images/John.jpg">
        <img height="400px" width= "300px" id= "d" src="/images/Damon.jpg">
        <img height="400px" width= "300px" id= "c" src="images/Cher.jpg">
      </div>
    </section>
    <div class="roles">
        <p id= "john">Front-End Engineer</p>
        <p id= "damon">Fullstack Engineer</p>
        <p id= "cher">Back-End Engineer</p>
    </div>
    <div class="grid">
    <div class="bios">
      <p> John is from the west-coast & will be studying Computer Science. </p>
    </div>
    <div class="bios">
      <p> Damon is from the Midwest & will be studing Computer Science & Economics at the UChicago.
          He is passionate about art and hopes to blend his technical skills with his talents. He's a
          source of inspiration for all.
      </p>
    </div>
    <div class="bios">
      <p> Cher is from west-coast & will be studying Computer Science. </p>
   </div>
   </div>
 </body>
</html>
