<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="POST">
      <p>Please input song name: <input name="name" placeholder="name here" /></br></p>
      <p>Please input artist: <input name="artist" placeholder="artist here" /></br></p>
      <p>Please input song notes: <input name="notes" placeholder="notes here" /></br></p>
      <p>Song picture: <input type="file" id="song_image" name="song_image" accept="image/png, image/jpeg"/></br></p>
      <p><button>Add</button></p>
    </form>

  </body>
</html>
