<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/home_page_style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <title>Home</title>
  </head>

  <body>
    <audio autoplay loop>
      <source src="/music/music.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <a href="{{ signout_page_url }}"><button id="lobut">logout</button></a>

    <section class="mid">
      <h1>Welcome, {{ name }}!</h1>
    <div class="info">
      <!-- <a href="#">Profile</a> -->
      <p><a href="/tutorial">
         <button id="midbut">Instructions</button></a></p>
      <!-- <p><a href="/piano">
         <button id="midbut">Piano</button></a></p> -->
      <p><a href="/add_song">
         <button id="midbut">Add Song</button></a></p>
      <p><a href="/aboutus">
         <button id="midbut">About Us</button></a></p>
       <p><a href="/select_song">
          <button id="midbut">Select Song</button></a></p>
      <!-- <a href="#">About</a> -->
      <!-- <a href="#">Contact</a> -->
    </div>
    </section>
  </body>
</html>
