<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/home_page_style.css">
    <title>Home</title>
  </head>

  <body>
    <a href="{{ signout_page_url }}"> Sign Out</a>
    <hr></hr>

    <!-- Side navigation -->
    <div class="sidenav">
      <!-- <a href="#">Profile</a> -->
      <a href="http://localhost:8080/tutorial">Instructions</a> <!-- edit link when uploading to cloud -->
      <a href="http://localhost:8080/piano">Piano</a> <!-- edit link when uploading to cloud -->
      <a href="http://localhost:8080/add_song">Add Song</a>
      <!-- <a href="#">About</a> -->
      <!-- <a href="#">Contact</a> -->
    </div>


    <!-- Page content -->
    <div class="main">
      <p> Hello, {{ name }} </p>
      <p>Your email address is {{ user_addr }}</p>
      <p>Your user id is {{ user_id }}</p>
      <!-- <a href="{{ signout_page_url }}"> Sign Out</a> -->
      <p>You have visited this page {{ number_of_views }} times</p>
      <p>Added song name: {{song_name}}</p>
      <p>Added song artist: {{song_artist}}</p>
      <p>Added song notes: {{song_notes}}</p>
      <p>Added song type: {{song_type}}</p>
    </div>



  </body>


</html>
