<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/instructions_page.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png"/>
  </head>
  <body>
    <!-- Music -->
    <audio autoplay loop>
      <source src="/music/music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <section class= "center">
      <img class="palette" src="images/palette.gif">
      <div class="howto">
        <h1>HOW TO PLAY</h1>
      </div>
      <div class="inst">
            <h3>Select a song</h3>
            <h3>Follow the song's note pattern through your keyboard</h3>
            <h3>Play the correct notes and solve the puzzle</h3>
      <div class="howto">
        <h1>EXTRAS:</h1>
      </div>
            <h3> Change the octave by clicking the + or - </h3>
            <h3> Select the type of instrument by using the sound selector </h3>
            <h3> The bolded letters relate to the letters on a keyboard </h3>
            <h3> The "Song Key" refers to the actual note on the piano (non-bold)</h3>
      </div>
      <a href="/">
      <button class="btn" id= "hbut">home</button></a>
    </section>

  </body>
</html>
