<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/instructions_page.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>
  <body>
    <!-- Music -->
    <audio autoplay loop>
      <source src="/music/music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <section class= "center">
      <img class="palette" src="images/palette.gif">
      <div class="howto">
        <h1>HOW TO PLAY</h1>
      </div>
      <div class="inst">
            <h2>Select a song.</h2>
            <h2>Follow the song's note pattern through your keyboard.</h2>
            <h2>Play the correct notes and solve the puzzle.</h2>
      </div>
      <a href="http://localhost:8080/">
      <button class="btn" id= "hbut">home</button></a>
    </section>
    
  </body>
</html>
