<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/instructions_page.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png"/>
  </head>
  <body>
    <!-- Music -->
    <audio autoplay loop>
      <source src="/music/music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <section class= "center">
      <img class="palette" src="images/palette.gif">
      <div class="howto">
        <h1>HOW TO PLAY</h1>
      </div>
      <div class="inst">
            <h2>Select a song.</h2>
            <h2>Follow the song's note pattern through your keyboard.</h2>
            <h2>Play the correct notes and solve the puzzle.</h2>
            <h3> Change the octave by clicking the + or -  <img src=""></h3>
            <h3> Select the type of instrument using <img src="images/instruments.png" height=90px width=100px>         </h3>
            <h3> The Song's keys are the bottom letters on the key (non-bold)
              <img src= "images/pianonotes.png" height=110px width=300px></h3>
      </div>
      <a href="/">
      <button class="btn" id= "hbut">home</button></a>
    </section>

  </body>
</html>
