<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main_page_style.css">
    <title>inCANVAScent</title>
  </head>
  <body>
    <p>(INSERT LOGO HERE)</p>
    <div class="quote">
      <h1><img class="notes" src="images/eigthnote.gif">
          L E A R N. P L A Y. C R E A T E.
          <img class= "notes" src= "images/eigthnote.gif">
      </h1>
    </div>
    <div id="button">
      <a href="http://localhost:8080/keyboard"><button>START</button></a>
    </div>
  </section>
  </body>
</html>
