<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main_page_style.css">
    <title>inCANVAScent</title>
  </head>
  <body>
    <div class="quote">
      <h1><img class="notes2" src="images/eigthnote.gif">
        L e a r n. P l a y. C r e a t e.
          <img class= "notes2" src= "images/eigthnote.gif">
      </h1>
    </div>
    <div>
      <a href="http://localhost:8080/keyboard"><p><button>Keyboard</button></p></a>
    </div>
  </body>
</html>
