
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/piano_page_style.css">
    <script src="script/audiosynth.js"></script>
    <script src="script/audiosynth.view.js"></script>
    <script src="script/box_transparency.js"></script>
  </head>

  <body>
    <div class="whole">
      <div class="mixed">
        <img id="art" src= "images/imageforpiano.png">
        <div id="hid">



        </div>
      </div>
    </div>
    <div class= "whole">
      
    <!-- Select Instrument Type -->
    <div class="keyboard-options">
      Sound
      <select ID="sound">
      	<option value="0" selected>Keyboard</option>
      	<option value="1">Organ</option>
        <option value="2">Acoustic Guitar</option>
        <option value="3">EDM, bro!</option>
      </select>

      <!-- Select Range/Octave -->
      <div class="keyboard-options">
        Range [C<span ID="OCTAVE_LOWER">3</span>-B<span ID="OCTAVE_UPPER">5</span>]
        <input type="button" ID="-_OCTAVE" value="-" />
        <input type="button" ID="+_OCTAVE" value="+" /><br/>

    <!-- Necessary for keyboard to show up -->
    <div ID="keyboard" class="keyboard-holder"></div>

    <!-- Necessary for keyboard to show up -->
    <script type="text/javascript">
      var a = new AudioSynthView();
      a.draw();
    </script>

</div>
  </body>
</html>
