
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/piano_page_style.css">
    <script src="script/audiosynth.js"></script>
    <script src="script/audiosynth.view.js"></script>
    <script src="script/box_transparency.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <!-- Saving song object to JS global variable -->
    <script>
      var Song = {{song_object|safe}};
    </script>

    <p></p>

    <!-- Home Button -->
    <a href="/">
    <button class="btn" id= "hbut">home</button></a>

    <div class="whole">
      <div class="mixed">
        <img id="art" src="data:image/png;base64,{{song_image}}">
        <div id="hid">

          <!-- JS IS ADDING THE GRID -->

        </div>
      </div>
    </div>

    <h1 class="w3-container w3-center w3-animate-left"> Song Key:</h1>
    <div id="song_notes" class="w3-container w3-center w3-animate-right"></div>


    <div class= "whole">
    <!-- Select Instrument Type -->


    <!-- Select Range/Octave -->
    <div class="keyboard-options">
      Range [C<span ID="OCTAVE_LOWER">3</span>-B<span ID="OCTAVE_UPPER">5</span>]
      <input type="button" ID="-_OCTAVE" value="-" />
      <input type="button" ID="+_OCTAVE" value="+" /><br/>

    <!-- Necessary for keyboard to show up -->
    <div ID="keyboard" class="keyboard-holder"></div>

    <div class="keyboard-options">
      Sound
      <select ID="sound">
        <option value="0" selected>Keyboard</option>
        <option value="1">Organ</option>
        <option value="2">Acoustic Guitar</option>
        <option value="3">EDM, bro!</option>
      </select>

    <!-- Necessary for keyboard to show up -->
    <script type="text/javascript">
      var a = new AudioSynthView();
      a.draw();
    </script>

    </div>


  </body>
</html>
