
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/piano_page_style.css">
    <script src="script/audiosynth.js"></script>
    <script src="script/audiosynth.view.js"></script>
  </head>

  <body>

    <p> Hello, {{ name }} </p>
    <p>Your email address is {{ email_addr}}</p>
    <p>Your user id is {{ user_id }}</p>
    <a href="{{ signout_page_url }}"> Sign Out</a>
    <p>You have visited this page {{ number_of_views }} times</p>



    <!-- Select Instrument Type -->
    <div class="keyboard-options">
      Sound
      <select ID="sound">
      	<option value="0" selected>Keyboard</option>
      	<option value="1">Organ</option>
        <option value="2">Acoustic Guitar</option>
        <option value="3">EDM, bro!</option>
      </select>

      <!-- Select Range/Octave -->
      <div class="keyboard-options">
        Range [C<span ID="OCTAVE_LOWER">3</span>-B<span ID="OCTAVE_UPPER">5</span>]
        <input type="button" ID="-_OCTAVE" value="-" />
        <input type="button" ID="+_OCTAVE" value="+" /><br/>

    <!-- Necessary for keyboard to show up -->
    <div ID="keyboard" class="keyboard-holder"></div>

    <!-- Necessary for keyboard to show up -->
    <script type="text/javascript">
      var a = new AudioSynthView();
      a.draw();
    </script>
    

  </body>
</html>
