<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/piano_style.css">
        <title>Piano Keyboard</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="http://www.verovio.org/javascript/latest/verovio-toolkit-light.js" type="text/javascript" ></script>
        <script src="script/piano.js"></script>


        <script type="text/javascript">

            $( document ).ready(function() {
                //create piano with 3 octaves, starting at C4 (lowest key)
                //shows labels and octave shift buttons
                var keyboardHTML = htmlForKeyboardWithOctaves(3, octaves.C4, true, true)
                //render the keyboard in the div
                $("#keyboardContainer").html(keyboardHTML)
                //when keys are pressed updatePreview() is called
                bindKeysToFunction(updatePreviewWithNote)
                //when the clef is changed updatePreviewWithClef() is called
                bindClefSelectionToFunction(updatePreviewWithClef)
                //set the default clef to G4
                setSelectedClef(clefs.G4)

                $("#backspaceButton").click(deleteLast)
            })

            //this stores all keyboard input
            var plaineEasieCodes = []
            var selectedClef = clefs.G4

            //this is called whenever a piano key is pressed
            function updatePreviewWithNote(sender, paeNote) {
                console.log("key pressed is " + paeNote)
                plaineEasieCodes.push(paeNote)
                updateNotesSVG()
            }

            //this is called when the user changes the clef for display
            function updatePreviewWithClef(sender, clef) {
                console.log("clef changed to " + clef)
                selectedClef = clef
                updateNotesSVG()
            }

            //delete last input
            function deleteLast() {
                plaineEasieCodes.pop()
                updateNotesSVG()
            }

            function updateNotesSVG() {
                //render the notes to an SVG using the Verovio tookit
                //width of the svg is 800px and note scaling 50%
                var notesSVG = svgNotesForPlaineEasieCode(plaineEasieCodes.join(""), selectedClef, 800, 50)
                //insert thes SVG code in our div
                var svgContainerDiv = $('#svgNotesContainer')
                svgContainerDiv.html(notesSVG)
            }


        </script>


    </head>
<body>
<div class='grid'>

 <div class="grid-item">1</div>
 <div class="grid-item">2</div>
 <div class="grid-item">3</div>
 <div class="grid-item">4</div>
 <div class="grid-item">5</div>
 <div class="grid-item">6</div>
 <div class="grid-item">7</div>
 <div class="grid-item">8</div>
 <div class="grid-item">9</div>
 <div class="grid-item">10</div>
 <div class="grid-item">11</div>
 <div class="grid-item">12</div>
 <div class="grid-item">13</div>
 <div class="grid-item">14</div>
 <div class="grid-item">15</div>
 <div class="grid-item">16</div>

</div>
  <img id="image"src="https://orig00.deviantart.net/5265/f/2013/133/c/a/dexters_laboratory_by_sandytreee-d6569ih.png">
<section class="center">
    <div id="keyboardContainer"></div><!-- this will hold the keyboard -->
      </section>
    <div id="svgNotesContainer"></div><!-- this will hold the SVG with rendered notes -->

    <button id="backspaceButton">Delete</button>
</section>
</body>
</html>
