<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/select_song_style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png"/>
    <title>Select Song</title>
  </head>

  <body>
    <a href="/"><button class="btn" id="hbut">home</button></a>

    <audio autoplay loop>
      <source src="/music/music.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <br></br>
    <br></br>
    {% for song in query_of_songs %}

      <a href="/piano?key={{song.key.urlsafe()}}"><button class="song_choice">
        <div class="inner_text">
        Song name: {{song.name}}</br>
        Artist: {{song.artist}}</br>
      </div>
      </button></a>

      <!-- <a href="/piano?key={{song.key.urlsafe()}}" class="song" id="{{song.key}}">
        <div class="song_choice">
          <div class="inner_text">
          <p>Song name: {{song.name}}</br>
          <p>Artist: {{song.artist}}</br>
          </div>
        </div> -->
      </a>
    {% endfor %}

  </body>


</html>
