body {
  font-family: 'Varela Round', sans-serif;
}

.center {
  text-align: center;
}

.btn {
    font-size: 20px;
    width: 150px;
    height: 50px;
    position: absolute;
    top:25px;
    right:25px;
    display: flex;
    justify-content: center;
}

#hbut {
  cursor: pointer;
  box-shadow: 0 3px lightgray;
  border-radius: 50px;
  color: #FF6501;
  font-family: inherit;
}

.aboutus {
  font-size: xx-large;
  color: #FF6501;
}

.floating-box {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-left: : 100px;
  padding-right: : : 100px;
  padding-top: : 100px;
  border: color: #7D1D3F;
}

.roles {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.bios {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px;

}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
