body {
  font-family: 'Varela Round', sans-serif;
}

.center {
  text-align: center;
}

.btn {
    font-size: 20px;
    width: 150px;
    height: 50px;
    position: absolute;
    top:25px;
    right:25px;
    display: flex;
    justify-content: center;
}

#hbut {
  cursor: pointer;
  box-shadow: 0 3px lightgray;
  border-radius: 50px;
  color: #FF6501;
  font-family: inherit;
}

.aboutus {
  padding-top: 20px;
  font-size: xx-large;
  color: #FF6501;
}

.padimg {
  padding-top: 10px;
}

#j {
  border: 3px solid #FF6501;
}

#d {
  border: 3px solid #FF6501;
}

#c {
  border: 3px solid #FF6501;
}

#john {
  font-size: x-large;
}

#damon {
  font-size: x-large;
}

#cher {
  font-size: x-large;
}

.floating-box {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-left: : 20px;
  padding-right: : : 20px;
  padding-top: : 20px;
  border: color: #7D1D3F;
}

.roles {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.bios {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px;
}

#j1 {
  color: white;
  border-radius: 25px;
  background: #FF6501;
  padding: 20px;
  width: 300px;
  height: 100px;
  box-shadow: 0 5px lightgray;
}

#d1 {
  color: white;
  border-radius: 25px;
  background: #FF6501;
  padding: 20px;
  width: 300px;
  height: 100px;
  box-shadow: 0 5px lightgray;
}

#c1 {
  color: white;
  border-radius: 25px;
  background: #FF6501;
  padding: 20px;
  width: 300px;
  height: 100px;
  box-shadow: 0 5px lightgray;
}

.grid {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.overall {
  display: flex;
}
