body {
  background: url(https://pre00.deviantart.net/dec7/th/pre/f/2016/027/e/2/wallpaper_geometric_color_22_2k_uhd_by_airworldking-d9pj983.png)
  no-repeat center center fixed;
  background-size: cover;
  font-family: 'Varela Round', sans-serif;
}

.btn {
  font-size: 20px;
  width: 150px;
  height: 50px;
  position: absolute;
  top:25px;
  right:25px;
  display: flex;
  justify-content: center;
}

#hbut {
  cursor: pointer;
  box-shadow: 0 3px lightgray;
  border-radius: 50px;
  color: #FF6501;
  font-family: inherit;
}

.song_choice {
  cursor: pointer;
  text-align: center;
  background-color: #FF6501;
  color: white;
  margin: 50px;
  width: 350px;
  height: 150px;
  box-shadow: 0 3px white;
  border-radius: 25px;

}

.inner_text {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

/* a:visited {
  text-decoration: none;
} */
